*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
  }

  body{
    background-color: black;
    color: white;
    font-family: "Poppins",sans-serif;
  }
  .navbar{
    position:absolute ;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
  }
  .navbar_netflix{
    height:100%;
    width: 125px;
  }
  .navbar_nav_items{
    display: flex;
    gap: 10px;
  }
  .netflix_logo{
    width: 100%;
    height: 100%;
  }
  .language_dropdown{
    background: transparent;
    color: white;
    border: none;
    width: 78%;
  }
  .dropdown_container{
    border: 1px solid white;
    width: 105px;
    padding: 0.4rem;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
  }
  .signin_button{
    color: white;
    border: #dc030f;
    background-color: #dc030f;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    height:35px;
    width: 100px;
  }
  .hero_bg_img_cont{
    width:100%;
    height: 70%;
  }
  .hero_bg_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero_bg_overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 120%;
    background: rgba(0, 0, 0, 0.6);
  }
  .hero_card{
    position: absolute;
    text-align: center;
    display: flex;
    top: 30%;
    left: 18%;
    flex-direction: column;
    gap: 15px;
  }
  .hero_title{
    font-weight: 600;
    font-size: 3rem;
  }
  .hero_subtitle,hero_desc{
    font-weight: 400;
    font-size: 1.3rem;
  }

 .email{
    width: 450px;
    height: 60px;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    border-color: white;
 }

 .get_started{
    font-size: larger;
    font-weight: 600;
    width: 170px;
    height: 60px;
    background-color: #dc030f;
    border: #dc030f 1px solid;
    color: white;
    border-radius: 3px;
 }
.card-1,.card-2,.card-3,.card-4,.footer{
    border-top:7px solid rgb(69, 69, 69);
    padding: 15px;
}

 .card-1{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
 }

 .desc-1{
    padding-left: 80px;
 }

 .card-1 video{
    position: relative;
    width: 150%;
    height: 60%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
 }
 .card-1 img{
    grid-column: 2/2;
    grid-row: 1/2;
 }

 .style_cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
 }

.style_cards h3{
    font-size: 1.6rem;
    line-height: 2rem;
}

.card-2{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
 }
 
 .desc-2{
    padding-left: 20%;
 }

 .card-3{
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
 }

.desc-3{
    padding-left: 80px;
    padding-right: 20px;
}

.card-3 img{
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-3 video{
    position: relative;
    top: -53px;
    left: 88px;
    width: 64%;
    height: 80%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.card-4{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
 }
 
 .desc-4{
    padding-left: 20%;
 }

.footer,
.footer a{
    color: #999;
    font-size: 0.9rem;
}

.footer p{
    margin-bottom: 1.5rem;
    padding-left: 80px;
}

.footer .footer_cols{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    padding-left: 80px;
}

.footer li{
    line-height: 1.9;
}

.dropdown_container-2{
    margin-left: 80px;
    border: 1px solid white;
    width: 105px;
    padding: 0.4rem;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
  }